@import "//at.alicdn.com/t/font_817120_fy1i3nw754s.css";
* {
  margin: 0 auto;
  padding: 0;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  color: #333;
  font-size: 14px;
  line-height: 26px;
}
*:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 0;
  background-color: #337ab7;
  transition: all .3s;
  -webkit-transition: all .3s;
}
body {
  background: #f2f2f2;
}
body a {
  text-decoration: none;
}
body a:hover {
  opacity: .7;
  text-decoration: none;
}
h1 {
  font-size: 24px;
  font-weight: normal;
}
h2 {
  font-size: 20px;
  font-weight: normal;
}
.clear {
  clear: both;
}
.fox {
  font-family: "fox" !important;
  font-size: 18px !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  color: #999 !important;
  padding: 5px;
  display: inline-block;
}
/* 滚动条 */
::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}
::-webkit-scrollbar-button:vertical {
  display: none;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background: #e2e2e2;
}
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #337ab7;
  background-image: linear-gradient(to top, #009688, #5FB878);
}
::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #337ab7;
  background-image: linear-gradient(to top, #009688, #5FB878);
}
::-webkit-scrollbar-thumb:vertical:active {
  background-color: #337ab7;
  background-image: linear-gradient(to top, #009688, #5FB878);
}
/* loading */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f2f2;
  z-index: 999999;
}
.loader .status {
  position: absolute;
  left: 50%;
  top: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  margin: -40px 0 0 -100px;
}
.loader .status .loader-logo {
  margin-top: -80px;
}
.loader .status .loading {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
  color: #41b883;
}
/* header 菜单样式 */
.header .main-container {
  padding: 0;
  text-align: center;
  margin-top: 0;
  /* menu-container */
  /*share-link*/
}
.header .main-container .menu-container {
  overflow: hidden;
}
.header .main-container .menu-container .menu-inner {
  line-height: 45px;
  text-align: left;
}
.header .main-container .menu-container .menu-inner li {
  display: inline-block;
  padding: 5px 15px;
}
.header .main-container .menu-container .menu-inner li a {
  display: block;
  position: relative;
  padding: 10px;
}
.header .main-container .menu-container .menu-inner li a:hover {
  color: #999;
}
.header .main-container .menu-container .menu-inner li a:hover:after {
  width: 100%;
}
.header .main-container .user-share-link .fox {
  margin: 10px auto;
}
.header-logo-container {
  padding-top: 0;
  text-align: center;
  margin-top: 65px;
  /* logo-container */
}
.header-logo-container .logo-container {
  margin: 0px auto;
}
.header-logo-container .logo-container .logo-link {
  display: inline-block;
  overflow: hidden;
  transition: All 0.4s ease-in-out;
  -webkit-transition: All 0.4s ease-in-out;
  -moz-transition: All 0.4s ease-in-out;
  -o-transition: All 0.4s ease-in-out;
}
.header-logo-container .logo-container .logo-link:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}
.header-logo-container .logo-container .logo-link img {
  max-height: 65px;
  max-width: 120px;
  width: auto;
  vertical-align: middle;
}
.header-logo-container .logo-container .web-title {
  margin-top: 0;
  font-size: 32px;
  letter-spacing: 2px;
  color: #555;
}
.header-logo-container .logo-container .web-subtitle {
  font-size: 14px;
  font-weight: normal;
  color: #999;
}
.fixed-header {
  position: fixed;
  top: 0;
  height: 65px;
  z-index: 1027;
}
.row {
  display: block;
  overflow: hidden;
}
.main-container {
  padding: 20px;
}
.content-inner {
  margin-top: 25px;
  padding: 0;
  transition: All 0.4s ease-in-out;
  -webkit-transition: All 0.4s ease-in-out;
  -moz-transition: All 0.4s ease-in-out;
  -o-transition: All 0.4s ease-in-out;
}
.content-inner:after {
  bottom: 0;
  left: -10px;
  width: 2px;
  height: 0;
  background-color: #337ab7;
}
.content-inner:hover:after {
  background-image: linear-gradient(to top, #009688, #5FB878);
  height: 100%;
}
.content-inner:hover .border-box {
  border-color: #337ab7;
}
.content-inner .article-cover {
  border: 1px solid #fcfcfc;
  min-height: 250px;
  padding: 0;
  height: auto;
  background: no-repeat center;
  background-size: 110%;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.content-inner .article-cover:hover {
  background-size: 100%;
}
.content-inner .border-box {
  border: 1px dashed #cecece;
  border-left: none;
}
.recent-post-item {
  overflow: hidden;
  min-height: 250px;
  position: relative;
}
.recent-post-item .article-title-link .article-title {
  text-align: left;
  line-height: 45px;
  font-size: 18px;
  margin-top: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: All 0.4s ease-in-out;
  -webkit-transition: All 0.4s ease-in-out;
  -moz-transition: All 0.4s ease-in-out;
  -o-transition: All 0.4s ease-in-out;
}
.recent-post-item .article-title-link .article-title time {
  font-size: 18px;
}
.recent-post-item .article-title-link .article-title:hover {
  opacity: .7;
  padding-left: 20px;
}
.recent-post-item .article-description {
  display: inline-block;
}
.recent-post-item .read-more {
  margin: 20px auto;
}
.recent-post-item .read-more hr {
  border-color: #337ab7;
}
.recent-post-item .read-more .read-more-link {
  padding: 5px 10px;
  border: 1px dashed #337ab7;
}
.recent-post-item .read-more .read-more-link:hover {
  border-style: solid;
}
.post-info {
  margin: 10px 20px 10px 0;
  color: #999;
  display: inline-block;
}
.page-box {
  margin-top: 25px;
  padding-left: 0;
}
.page-number,
.space,
.next,
.prev {
  display: inline-block;
  vertical-align: middle;
  padding: 0 15px;
  height: 28px;
  line-height: 28px;
  margin: 0 -1px 5px 0;
  background-color: #fff;
  color: #333;
  font-size: 12px;
  border: 1px solid #e2e2e2;
}
.current {
  color: #fff;
  background-color: #337ab7;
}
.bottom-outer .bottom-inner {
  margin: 45px auto;
  text-align: center;
}
.bottom-outer .bottom-inner .bottom-link {
  color: #337ab7;
}
.bottom-outer .bottom-inner .bottom-link:hover {
  color: #999;
}
.article-detail {
  display: block;
  overflow: hidden;
  /* 左侧标题列表 */
}
.article-detail h1,
.article-detail h2,
.article-detail h3,
.article-detail h4,
.article-detail h5,
.article-detail h6 {
  font-weight: bold;
  position: relative;
}
.article-detail h1:hover:before,
.article-detail h2:hover:before,
.article-detail h3:hover:before,
.article-detail h4:hover:before,
.article-detail h5:hover:before,
.article-detail h6:hover:before {
  content: "#";
  position: absolute;
  left: -15px;
}
.article-detail h5,
.article-detail h6 {
  color: #999;
  font-size: 14px;
}
.article-detail .content-inner {
  padding: 25px;
}
.article-detail .content-inner:hover:after {
  display: none;
}
.article-detail .post-page-title {
  max-width: 300px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1027;
  padding: 25px;
  padding-top: 145px;
}
.article-detail .post-page-title .progress-title {
  color: #41b883;
  position: relative;
  margin-bottom: 25px;
}
.article-detail .post-page-title .progress-title .progress {
  position: absolute;
  bottom: -20px;
  left: 0;
  height: 1px;
  background: #41b883;
}
.article-detail .post-page-title .progress-title .read-point {
  color: #337ab7;
  margin-left: 15px;
}
.article-detail .post-page-title .toc li,
.article-detail .post-page-title .toc-child li {
  list-style: none;
}
.article-detail .post-page-title .toc li .toc-link,
.article-detail .post-page-title .toc-child li .toc-link {
  padding: 5px 10px;
  display: block;
}
.article-detail .post-page-title .toc .active,
.article-detail .post-page-title .toc-child .active {
  background: #337ab7;
}
.article-detail .post-page-title .toc .active .toc-text,
.article-detail .post-page-title .toc-child .active .toc-text,
.article-detail .post-page-title .toc .active .toc-number,
.article-detail .post-page-title .toc-child .active .toc-number {
  color: #ffffff;
}
/* 高亮*/
.article-detail pre,
.article-detail .highlight {
  display: block;
  padding: 10px 16px;
  margin: 0 0 24px;
  border-left: 3px solid #337ab7;
  background: #fcfcfc;
  overflow: auto;
  word-wrap: normal;
  word-break: normal;
  margin: 0px;
  color: #333333;
  line-height: 24px;
}
.article-detail .highlight .gutter pre,
.article-detail .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.article-detail pre,
.article-detail code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.article-detail code {
  background: #eee;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
.article-detail pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-detail .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-detail .highlight table {
  margin: 0;
  width: auto;
}
.article-detail .highlight td {
  border: none;
  padding: 0;
}
.article-detail .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-detail .highlight figcaption:before,
.article-detail .highlight figcaption:after {
  content: "";
  display: table;
}
.article-detail .highlight figcaption:after {
  clear: both;
}
.article-detail .highlight figcaption a {
  float: right;
}
.article-detail .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-detail .highlight .line {
  height: 22.400000000000002px;
}
.article-detail .highlight .line.marked {
  background: #515151;
}
.article-detail .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: #2d2d2d;
  padding: 15px 20px 15px 0;
}
.article-detail .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.article-detail .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-detail .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-detail .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-detail .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-detail .gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  font: 0.85em -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.article-detail .gist .gist-file .gist-meta a {
  color: #258fb8;
  font-weight: normal;
}
.article-detail .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #3ad23a;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
/*# sourceMappingURL=fox.css.map */